<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>sfDatePickerTimePlugin</name>
  <channel>plugins.symfony-project.org</channel>
  <summary>Datepicker with a time selector</summary>
  <description>Hybrid jQuery datepiker and a time selector widget based on the sfWidgetFormDateTime widget.</description>
  <lead>
    <name>Hubert Perron</name>
    <user>Hubert Perron</user>
    <email>hubert.perron@gmail.com</email>
    <active>yes</active>
  </lead>
  <developer>
    <name>Arkadiusz Tułodziecki</name>
    <user>ldath</user>
    <email>atulodzi@gmail.com</email>
    <active>yes</active>
  </developer>
  <date>##CURRENT_DATE##</date>
  <version>
    <release>##PLUGIN_VERSION##</release>
    <api>##API_VERSION##</api>
  </version>
  <stability>
    <release>##STABILITY##</release>
    <api>##STABILITY##</api>
  </stability>
  <license uri="http://www.symfony-project.org/license">MIT license</license>
  <notes>
    <![CDATA[
        * ldath: bugfix - Solving problem when value is send as array to widget
        * ldath: bugfix - Solving problem when widget have `required: false` and no data is send in process of validation without success
    ]]>
  </notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.2.4</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.2.0</min>
        <max>2.0.0</max>
        <exclude>2.0.0</exclude>
      </package>
    </required>
  </dependencies>
  <phprelease></phprelease>
  <changelog>
    <release>
      <version>
        <release>0.1.0</release>
        <api>0.1.0</api>
      </version>
      <stability>
        <release>alpha</release>
        <api>alpha</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">
        MIT license
      </license>
      <date>2011-03-02</date>
      <license>MIT</license>
      <notes>
        <![CDATA[
        * hubert.perron: initial release
        ]]>
      </notes>
    </release>
  </changelog>
</package>
